@use "@material/card";
@use "@material/list";
@use '../common.scss';

@include card.core-styles;
@include list.deprecated-core-styles;

region-product-management {
    display: grid;
    grid-template: 1fr /1fr 1fr 300px;
}

eu-region,
us-region,
product-list {
    @extend .mdc-card;
    margin: 1rem;
    padding: 1rem;
}

.mdc-deprecated-list {
    min-height: 500px;
}

product-element:active {
    cursor: grabbing;
    background-color: #e6e6e6;
}

.product--placeholder {
    opacity: .3;
    height: 64px;
    border: dotted 1px #ff6200;
}

.dragged {
    opacity: 0.4;
}

.drop {
    border: 1px solid var(--header-background);
}