/* @use "@material/card";
@use '../common.scss';

@include card.core-styles; */

region-product-management {
    display: grid;
    grid-template: 1fr /1fr 1fr 300px;
}

product-list {
    /* @extend .mdc-card; */
    margin: 1rem;
    padding: 1rem;
}


product-element:active {
    cursor: grabbing;
    background-color: #e6e6e6;
}

.product--placeholder {
    height: 54px;
    margin: 1rem;
    border: solid 1px black;
}

.dragged {
    opacity: 0.4;
}

.drop {
    border: 1px solid var(--header-background);
}